@charset "UTF-8";

/* VARIABLE DEFINITIONS */

:root,[theme-light] {
	--footer-color: #7a7b79;
	--main-bg-color: #ffffff;
	--main-bg-color-rgb: 255, 255, 255;
	--main-hl-color: #bdccc1;
	--nav-color: #ffffff;
	--nav-rgb: 255, 255, 255;
	--nav-link-padding-x: 1rem;
	--nav-link-padding-y: 0.5rem;
	--nav-link-font-weight: ;
	--nav-link-color: var(--link-color);
	--nav-link-disabled-color: var(--secondary-color);
	--navbar-padding-x: 0;
	--navbar-padding-y: 0.5rem;
	--navbar-color: rgba(var(--nav-color), 1);
	--navbar-link-color: var(--link-color);
	--navbar-hover-color: var(--link-hover-color);
	--navbar-disabled-color: var(--link-disabled-color);
	--navbar-active-color: var(--link-active-color);
	--navbar-nav-link-padding-x: 0.5rem;
	--navbar-nav-link-padding-y: 0.25rem;
	--dark-shadow-color: #b6b6b6;
	--dark-shadow-rgb: 182, 182, 182;
	--shadow-color: #cbcbcb;
	--shadow-rgb: 203, 203, 203;
	--sidebar-color: #5a5e63;
	--sidebar-rgb: 90, 94, 99;
	--link-color: #31c000;
	--link-rgb: 49, 192, 0;
	--link-hover-color: #bfe9b1;
	--link-hover-rgb: 191, 233, 177;
	--link-disabled-color: #cccccc;
	--link-disabled-rgb: 204, 204, 204;
	--link-active-color: #ffffff;
	--link-active-rgb: 255, 255, 255;
	--secondary-color: #d8c6d6;
	--secondary-rgb: 216, 198, 214;
	--text-color: #000000;
	--text-rgb: 0, 0, 0;
	--black: #000000;
	--black-rgb: 0, 0, 0;
	--blue: #17aef8;
	--brown: #665c3d;
	--green: #099602;
	--green-rgb: 9, 50, 2;
	--lightgreen: #84c980;
	--lightgreen-rgb: 132, 201, 128;
	--white: #ffffff;
	--white-rgb: 255, 255, 255;
	--lightpink: #ffe7fc;
	--lightpink-rgb: 255, 231, 252;
	--lightgrey: #dad9d9;
	--lightgrey-rgb: 218, 217, 217;
	--body-font-family: var(--font-sans-serif);
	--font-bold: 600;
	--font-bolder: 700;
	--font-sans-serif: system-ui,-apple-system,"Open Sans", "Helvetica Neue";
	--body-font-size: 1rem;
	--font-large: 1.1rem;
	--font-larger: 1.5rem;
	--font-xtra-lrg: 3rem;
	--scroll-height: auto;
}

/* GENERAL STYLING */

a:link {
	color: var(--link-color);
	text-decoration: none;
}

a:active {
	color: var(--link-active-color);
}

a:visited {
	color: var(--link-disabled-color);
}

a:hover {
	color: var(--link-hover-color);
	text-decoration: underline;
}

body {
	margin: 0;
	background-color: var(--main-bg-color);
	font-size: var(--body-font-size);
	color: var(--text-color);
	font-family: var(--body-font-family);
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.border-bottom {
	border-bottom: var(--shadow-color) 1px solid !important;
}

.flex-1 {
	flex: 1;
}

.flex-2 {
	flex: 2;
}

.flex-3 {
	flex: 3;
}

.flex-4 {
	flex: 4;
}

.flex-5 {
	flex: 5;
}

.flex-align-row-bottom {
	margin-top: auto;
}

.flex-col {
	display: flex;
	flex-flow: column wrap;
}

.flex-row {
	display: flex;
	flex-flow: row wrap;
}

.space-below {
	margin-bottom: 1vw;
}

.sticky-top {
	position: -webkit-sticky;
	position: sticky;
	align-self: stretch;
	top: 0;
	z-index: 1020;
}

.sticky-bottom {
	position: -webkit-sticky;
	position: sticky;
	align-self: stretch;
	margin-top: auto;
	bottom: 0;
	z-index: 1020;
}

.sticky-left {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1020;
}

/* SPLASH/HOMEPAGE */

.home nav > div {
	background-color: var(--lightgreen);
	align-items: stretch;
	justify-content: space-between;
	padding: var(--navbar-padding-x) var(--navbar-padding-y);
}

.home #logo {
	margin-right: auto;
	
}

.home #signup {
	margin-left: auto;
}

.home button[type="button"].dummy {
	background-color: var(--lightpink);
	color: var(--black);
	box-shadow: 1px 1px 5px var(--dark-shadow-color);
	border: 1px solid transparent;
	border-radius: 0.2rem;
	min-width: 2rem;
	min-height: 2rem;
	margin: 0.5rem 0.2rem;
}

.home button[type=button].dummy:hover {
	background-color: var(--green);
	color: var(--white);
}

.home ul > li {
	list-style: none;
	padding: 0 0.2rem 0.5rem 0.2rem;
}

.home h1 {
	font-size: var(--font-xtra-lrg);
}

.colorblock-top-container {
	align-items: center;
	background-color: var(--lightgreen);
	padding: 0.5rem;
}

.colorblock-middle-container {
	align-items: center;
	background-color: var(--white);
	padding: 0.5rem;
}

.colorblock-bottom-container {
	align-items: center;
	background-color: var(--lightpink);
	padding: 0.5rem;
}

img.icon-lrg {
	max-width: 100px;
	max-height: 100px;
	border: 0;
}

img.logo-txt-sm {
	max-width: 15%;
	max-height: 15%;
	border: 0;
}

.home button[type=button] {
	font: var(--font-large) var(--body-font-family);
	font-weight: var(--font-bold);
	letter-spacing: 0.05rem;
	background-color: var(--green);
	color: var(--white);
	border: 2px solid transparent;
	border-radius: 0.4rem;
	box-shadow: 1px 1px 5px var(--dark-shadow-color);
	padding: 0.2rem 0.5rem 0.2rem 0.5rem;
	margin: 0.2rem;
	min-height: 50px;
	min-width: 70px;
}

.home button[type=button]:hover {
	background-color: var(--lightpink);
	color: var(--black);
}

.splash-box {
	font-weight: var(--font-bolder);
	box-shadow: 1px 1px 5px var(--dark-shadow-color);
	border: 1px solid transparent;
	border-radius: 10px;
	background-color: var(--lightgreen);
	padding: 0.2rem 0.5rem;
	margin: 0.5rem 1rem;
	min-width: 1vw;
	min-height: auto;
}

.footer-home {
	flex-basis: 100%;
	background-color: transparent;
	align-items: stretch;
	padding: var(--navbar-padding-x) var(--navbar-padding-y);
}

.footer-home ul {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
			
}
.footer-home ul > li {
	padding: 0.5rem;

}

/* CONTAINED SIDEBAR LAYOUT */

.footer-nav {
	background-color: var(--footer-color);
	align-items: center;
	padding: var(--navbar-padding-x) var(--navbar-padding-y);
}

.footer-nav > ul {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
			
}
.footer-nav > ul > li {
	padding: 0.5rem;

}

.main-container {
	container-type: inline;
	container-name: main-content;
}

.main-section {
	padding: 0.5rem;
	background-color: var(--main-bg-color);
	flex: auto;
}

.sidebar-nav {
	container-name: sidebar;
	container-type: inline;
	background-color: var(--sidebar-color);
	flex: 0;
}

.top-nav-container {
	background-color: var(--nav-color);
	align-items: center;
	padding: var(--navbar-padding-x) var(--navbar-padding-y);
	container-type: block;
	container-name: topnav;
}

.top-nav-container-scroll {
	max-height: var(--scroll-height, 75vh);
	overflow-y: auto;
}

.top-nav-item {
	display: flex;
	flex-direction: row;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.top-nav-item > li {
	padding: 0.5rem;
}

/* LOGIN */

div#login {

}
.login input[type="text"], .login input[type="password"], .login input[type="email"] {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	font: var(--font-large);
	font-weight: var(--font-bold);
	margin-bottom: 1rem;
	border: 1px solid var(--dark-shadow-color);
	border-radius: 0.2rem;
    box-shadow: inset 0px 1px 4px var(--shadow-color);
    -moz-box-shadow: inset 0px 1px 4px var(--shadow-color);
    -webkit-box-shadow: inset 0px 1px 4px var(--shadow-color);
	padding: 0.4rem;
	outline: 0 none;
}

.login button[type="submit"] {
	display: flex;
	margin-right: auto;
	margin-left: auto;
	font: var(--font-large);
	font-weight: var(--font-bold);
	letter-spacing: 0.05rem;
	background-color: var(--green);
	color: var(--white);
	border: 2px solid transparent;
	border-radius: 0.4rem;
	box-shadow: 1px 1px 5px var(--dark-shadow-color);
	padding: 0.2rem 0.5rem 0.2rem 0.5rem;
	min-height: 35px;
	min-width: 50px;
}

.login button[type="submit"]:hover {
	background-color: var(--lightpink);
	color: var(--black);
}

/* LOGIN LANDING */

button.search {
	font: var(--body-font-family);
	font-weight: var(--font-bold);
	letter-spacing: 0.05rem;
	background-color: var(--green);
	color: var(--white);
	border: 2px solid transparent;
	border-radius: 0.4rem;
	box-shadow: 1px 1px 5px var(--dark-shadow-color);
	padding: 0.3rem 0.1rem 0.3rem 0.1rem;
	margin-bottom: 1rem;
	min-height: 30px;
	min-width: 50px;
	cursor: pointer;
}

button.search:hover {
	background-color: var(--lightpink);
	color: var(--black);
}

button.landing {
	font: var(--font-large) var(--body-font-family);
	font-weight: var(--font-bold);
	letter-spacing: 0.05rem;
	background-color: var(--green);
	color: var(--white);
	border: 2px solid transparent;
	border-radius: 0.4rem;
	box-shadow: 1px 1px 5px var(--dark-shadow-color);
	padding: 0.2rem 0.5rem 0.2rem 0.5rem;
	margin: 0.2rem;
	min-height: 50px;
	min-width: 70px;
}

button.landing:hover {
	background-color: var(--lightpink);
	color: var(--black);
}

img.logo {
	max-width: 50px;
	max-height: 50px;
	border: 0;
}

img.logo-med {
	max-width: 250px;
	max-height: 250px;
	border: 0;
}

img.logo-lrg {
	max-width: 500px;
	max-height: 500px;
	border: 0;
}


img.nav-icon {
	max-width: 50px;
	max-height: 50px;
	border: 0;
}

img.sidebar-icon {
	max-width: 75px;
	max-height: 75px;
	border: 0;
}

input#global-search {
	font: var(--font-large) var(--body-font-family);
	border: 1px solid var(--dark-shadow-color);
	border-radius: 0.2rem;
    box-shadow: inset 0px 1px 4px var(--shadow-color);
    -moz-box-shadow: inset 0px 1px 4px var(--shadow-color);
    -webkit-box-shadow: inset 0px 1px 4px var(--shadow-color);
	padding: 0.4rem;
	margin-bottom: 1rem;
}

input#global-search:focus {
	outline: 0 none;
}

search.global {
}

#landing-fill {
	
}

.footer-nav-landing {
	container-type: inline;
	container-name: footer;
	background-color: var(--footer-color);
	color: var(--white);
	align-items: center;
	place-content: space-between flex-end;
	padding: var(--navbar-padding-x) var(--navbar-padding-y);
}

.footer-nav-landing > ul {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
			
}
.footer-nav-landing > ul > li {
	padding: 0.5rem;
}

.landing-container {
	flex: 5;
}

.landing-section {
	padding: 0.5rem;
	background-color: var(--main-bg-color);
}

.sidebar-nav-landing {
	container-name: sidebar;
	container-type: inline;
	flex: 0;
	align-items: center;
	background-color: var(--sidebar-color);
}

.sidebar-nav-landing > * > ul,  .sidebar-nav-landing > * > ul > li {
	list-style: none;
	padding: 0 0.2rem 0.5rem 0.2rem;
}

.top-nav-landing-container {
	background-color: var(--nav-color);
	align-items: center;
	place-content: space-between flex-end;
	padding: var(--navbar-padding-x) var(--navbar-padding-y);
	container-type: inline;
	container-name: topnav;
}

.top-nav-landing-container-scroll {
	max-height: var(--scroll-height, 75vh);
	overflow-y: auto;
}

.top-nav-landing-container > ul {
	display: flex;
	flex-direction: row;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.top-nav-landing-container > ul > li {
	padding: 0.5rem;
}
